/* add this class names and this color code ( color: #0f0; ) to your code to use this rgb animation 

 Normal RGB Effect --  (animate_rgb) 


or




copy The Following Code 

                              in html head


<link rel="stylesheet" href="https://oceanofanythingofficial.github.io/css-rgb-animation/rgb.css">
 

                                in css

    color: #0f0;
    animation: animate_rgb 3s linear infinite; 

 */
.rgb{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 99px;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
    animation: animate_rgb 3s linear infinite;
    color: #0f0;
    transition: all 999s ease;
}
@keyframes animate_rgb {
   0%{
        filter: hue-rotate(0deg);
    }
    20%{
        filter: hue-rotate(72deg);
    }
    40%{
        filter: hue-rotate(144deg);
    }
    60%{
        filter: hue-rotate(216deg);
    }
    80%{
        filter: hue-rotate(288deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
