.rgb{
    
    animation: animate_rgb 3s linear infinite;
    color: #0f0;
}
@keyframes animate_rgb {
   0%{
        filter: hue-rotate(0deg);
    }
    20%{
        filter: hue-rotate(72deg);
    }
    40%{
        filter: hue-rotate(144deg);
    }
    60%{
        filter: hue-rotate(216deg);
    }
    80%{
        filter: hue-rotate(288deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
